<script src="/js/fizz.js"></script>

<center><form method='post' action='numtocheck'>
<h3>Please enter a fuzzbuzz number:
<input type='number' name='choice' id="choice" autofocus="autofocus" required >
<input type='submit' onclick="fizzbuzz()" value='Check Number'></h3>

<input type='button' onclick="showanswer()" value="SHOW ALL"></center>

<div id='answerhere'>

</div>



